{% extends "flexlayout.html" %}
{% block body %}


<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>Expedita voluptas omnis cupiditate totam eveniet nobis sint iste. Dolores est repellat corrupti
              reprehenderit.</h2>
            <p>
              Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur
              itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
            </p>
            <div class="text-center text-lg-start">
              <a href="#"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ url_for('static', filename='img/about.jpg') }}" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->



      <!-- ======= Services Section ======= -->
      <section id="services" class="services">

        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h2>Typing Section</h2>
            <p>Check you typing speed by writing phrases and word</p>
          </header>

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Word Beater</h3>
                <p>Check your typing speed by typing one words in the given time</p>
                <a href="/wordbeater" class="read-more" data-bs-toggle="modal"
                  data-bs-target="#exampleModalWord"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Paragraph Meter</h3>
                <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                  nesciunt dolorem.</p>
                <a href="/paragraphMeter" class="read-more" data-bs-toggle="modal"
                  data-bs-target="#exampleModalPara"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Ledo Markt</h3>
                <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                  eos
                  earum corrupti.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

          </div>

        </div>

      </section>


      <section id="services" class="services">

        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h2>Coding Section</h2>
            <p>Check you typing speed by writing codes in different programming languages</p>
          </header>

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Keyword Beater</h3>
                <p>Check your typing speed by typing one words in the given time</p>
                <a href="/keywordBeater" class="read-more" data-bs-toggle="modal"
                data-bs-target="#exampleModalKeyword"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Code me up</h3>
                <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                  nesciunt dolorem.</p>
                <a href="/paragraphMeter" class="read-more" ><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Ledo Markt</h3>
                <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                  eos
                  earum corrupti.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

          </div>

        </div>

      </section>



      <section id="services" class="services">

        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h2>Typing Section</h2>
            <p>Check you typing speed by writing phrases and word</p>
          </header>

          <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-box blue">
                <i class="ri-discuss-line icon"></i>
                <h3>Word Beater</h3>
                <p>Check your typing speed by typing one words in the given time</p>
                <a href="/wordbeater" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-box orange">
                <i class="ri-discuss-line icon"></i>
                <h3>Paragraph Meter</h3>
                <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                  nesciunt dolorem.</p>
                <a href="/paragraphMeter" class="read-more" ><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-box green">
                <i class="ri-discuss-line icon"></i>
                <h3>Ledo Markt</h3>
                <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                  eos
                  earum corrupti.</p>
                <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

          </div>

        </div>

      </section>


      <!-- End Services Section -->

      <!-- Modal section for typing games -->



      <!-- Modal for word beater started-->
      <div class="modal fade" id="exampleModalWord" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <center>
                <div class="card" style="width: 18rem;">
                  <a href="/wordbeater" target="blank"><img src="/static/img/clients/client-3.png" class="card-img-top"
                      alt="..."></a>
                </div>
              </center>
              <center>
                <div class="card" style="width: 18rem;">

                  <a href="/wordbeater" target="blank"><img src="/static/img/clients/client-3.png" class="card-img-top"
                      alt="..."></a>
                </div>
              </center>

              <center>
                <div class="card" style="width: 18rem;">

                  <a href="/wordbeater" target="blank"><img src="/static/img/clients/client-3.png" class="card-img-top"
                      alt="..."></a>
                </div>
              </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for word beater ended-->



      <!-- Modal for paragraph meter started-->
      <div class="modal fade" id="exampleModalPara" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <center>
                <div class="card" style="width: 18rem;">
                  <a href="/paragraphMeter" target="blank"><img src="/static/img/clients/client-3.png"
                      class="card-img-top" alt="..."></a>
                </div>
              </center>
              <center>
                <div class="card" style="width: 18rem;">

                  <a href="/paragraphMeter" target="blank"><img src="/static/img/clients/client-3.png"
                      class="card-img-top" alt="..."></a>
                </div>
              </center>

              <center>
                <div class="card" style="width: 18rem;">

                  <a href="/paragraphMeter" target="blank"><img src="/static/img/clients/client-3.png"
                      class="card-img-top" alt="..."></a>
                </div>
              </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for paragraph meter ended-->





      <!-- Modal for keyword beater started-->
      <div class="modal fade" id="exampleModalKeyword" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <center>
                <div class="card" style="width: 18rem;">
                  <a href="/keywordBeater" target="blank"><img src="/static/img/clients/client-3.png"
                      class="card-img-top" alt="..."></a>
                </div>
              </center>
              <center>
                <div class="card" style="width: 18rem;">

                  <a href="/keywordBeater" target="blank"><img src="/static/img/clients/client-3.png"
                      class="card-img-top" alt="..."></a>
                </div>
              </center>

              <center>
                <div class="card" style="width: 18rem;">

                  <a href="/keywordBeater" target="blank"><img src="/static/img/clients/client-3.png"
                      class="card-img-top" alt="..."></a>
                </div>
              </center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for keyword beater ended-->




      <!-- Modal section for typing games ends-->




      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">

        <div class="container" data-aos="fade-up">

          <header class="section-header">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </header>

          <div class="row gy-4">

            <div class="col-lg-6">

              <div class="row gy-4">
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Address</h3>
                    <p>A108 Adam Street,<br>New York, NY 535022</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-telephone"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-envelope"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br>contact@example.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info-box">
                    <i class="bi bi-clock"></i>
                    <h3>Open Hours</h3>
                    <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" class="php-email-form">
                <div class="row gy-4">

                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                  </div>

                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                  </div>

                  <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                  </div>

                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>

                    <button type="submit">Send Message</button>
                  </div>

                </div>
              </form>

            </div>

          </div>

        </div>

      </section><!-- End Contact Section -->

</main><!-- End #main -->


{% endblock %}